header {
	background-color: #FFFF00;

}

.navegar {
	position: relative;
	width: 940px;
	margin: 0 auto;


}

nav {
	position: absolute;
	top: 170px;
	right: 0;

}

nav li {
	display: inline;

}

nav a {
	text-transform: uppercase;
	font-weight: bold;
	color: #8B0000;
	margin: 0 0 0 15;
}